fastapi
uvicorn
python-dotenv
requests
beautifulsoup4
pydantic-settings
moviepy==1.0.3
openai
httpx
aiohttp
trafilatura
aiofiles
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4
sqlalchemy>=2.0
pymysql
PyJWT
email-validator